{% extends 'base.html.twig' %}

{% block title %}ACCUEIL{% endblock %}

{% block main %}

<h1>MENU ADMIN</h1>

{% endblock %}


{% block nav %}
    <nav>
        <ul>




            {% if is_granted ('IS_AUTHENTICATED_REMEMBERED') %}
                <h2>bonjour {{ user.prenom }}</h2>
                <li ><a href="#">CREER UN ADMIN</a></li>
                <li><a href="#">GERER UTILISATEUR</a></li>
                <li><a href="#">GERER LES CAMPUS</a></li>
                <li><a href="#">GERER LES VILLES</a></li>

                <li ><a href="{{ path('logout') }}">SE DECONNECTER</a></li>
            {% else %}




            {% endif %}
        </ul>
    </nav>
{% endblock %}
