{% extends 'base.html.twig' %}

{% block title %}photo de profil{% endblock %}

{% block main %}

    <h1>Ajouter votre photo de profil</h1>

    {{ form_start(form) }}
    {# ... #}

    {{ form_row(form.photoFilename) }}
    <button type="submit">Valider la photo</button>
    {{ form_end(form) }}

{% endblock %}