{% extends 'base.html.twig' %}


{% block title%} {{ parent() }} | Modifier une sortie {%  endblock %}

{% block main %}
    <h2> Ajouter </h2>

    {{ form_start(SortiesType) }}
    {{ form_widget(SortiesType) }}
    <button type="submit"> Modifier </button>
    {{ form_end(SortiesType) }}

{%  endblock %}
